<a href="https://colab.research.google.com/github/KravtsovaAlyona/Laboratornye/blob/main/5_%D0%BB%D0%B0%D0%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [ ]:
# Задание task_05_02_01.
# Выполнил:Кравцова 
# Группа: АДЭУ-211
import math
def sgn(x):
  global a
  if x>0:
    a=1
  elif x==0:
    a=0
  else:
    a=-1
  return a
  

def metod(x,y):
  x1=sgn(x)
  y1=sgn(y)
  function1 = (x1 + y**2)/(y1 + math.sqrt(math.fabs(x)))
  print(round(function1,2))

x=float(input('Введите х:'))
y=float(input('Введите y:'))
print("Ответ: ")
z=metod(x,y)

Введите х:-9
Введите y:0
Ответ:
-0.33

№ 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение None).Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [8]:
# Задание task_05_02_02.
# Выполнил:Кравцова 
# Группа: АДЭУ-211
import math
temperature=[]
sorted_temperature=[]
n = int(input("Кол-во изменений: "))
x=1
while x<=n:
   print("Измерение",x,'-е: ');
   y=input()
   x=x+1
   temperature.append(y)
for y in temperature:
       if y!= "-" :
         sorted_temperature.append(y)
       else:
         pass
       k=0
       for y in sorted_temperature:
          y=int(y)
          k+=y

print(round(k/len(sorted_temperature),2))


# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

Кол-во изменений: 3
Измерение 1 -е:
10
Измерение 2 -е:
-
Измерение 3 -е:
20
15.0

№ 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a < b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [3]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_03.
#
# Выполнил: Кравцова
# Группа: АДЭУ_211

Ln = [] 
Ln1 = []

def is_lucky(num):
    ch = 0
    nech = 0
    for n in map(int, str(num)):
        if n % 2 == 0:
            ch += 1
        else:
            nech += 1
    if ch == nech:
        Ln.append(num)
    else:
        pass

def lucky_numbers(a, b):
    num = a   
    while num in range(a, b + 1):
        is_lucky(num)
        if num in Ln:
            Ln1.append(num)
            num += 1
        else:
            num += 1
    for i in Ln1:
        print(i, end=" ") 

a = int(input("Первый номер билета: "))
b = int(input("Последний номер билета: "))

print(lucky_numbers(a, b))

# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

Первый номер билета: 10
Последний номер билета: 25
10 12 14 16 18 21 23 25 None

№ 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату

In [9]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_04.
#
# Выполнил: Кравцова
# Группа: АДЭУ_211

def is_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        A = True
    else:
        A = False
    return A

def days(month, year):
    dm31 = [1,3,5,7,8,10,12]
    dm30 = [4,6,9,11]
    if is_leap(year) == True:
        dm29 = [2]
    else:
        dm28 = [2]
    if month in dm31:
        date = 31
    elif month in dm30:
        date = 30
    elif month in dm29:
        date = 29
    else:
        date = 28
    return date

def next_date(day, month, year):
    if day == days(month, year):
        month += 1
        if month == 13:
            month = 1
            year += 1
            day = 1
        else:
            month += 1
            year = year
            day = 1
    else:
        day += 1
        month = month
        year = year
    return day, month, year

def previous_date(day, month, year):
    if day == 1:
        month -= 1
        if month == 0:
            year -= 1
            month = 12
            day = days(12, year)
        else:
            year = year
            month = month
            day = days(month, year)
    else:
        day -= 1
        month = month
        year = year
    return day, month, year

day, month, year = input('День, месяц, год через пробел: ').split()
day = int(day)
month = int(month)
year = int(year)
print('Предыдущий день: ',previous_date(day, month, year))
print('Следующий день: ',next_date(day, month, year))

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

День, месяц, год через пробел: 1 3 2000
Предыдущий день:  (29, 2, 2000)
Следующий день:  (2, 3, 2000)

№ 5.2.5

В задаче № 5.2.4 замените функции получения вчерашней и завтрашней даты на одну:

def another_date(day, month, year, delta=1):

pass

где delta - ключевой параметр, определяющий сколько дней необходимо добавить или вычесть (если аргумент отрицательный) из переданной даты. Функции, реализованные в задаче № 5.2.4 сделайте локальными для another_date(), вызывая их внутри необходимое количество раз.

In [4]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_05.
#
# Выполнил: Кравцова
# Группа: АДЭУ_211

def is_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        A = True
    else:
        A = False
    return A

def days(month, year):
    dm31 = [1,3,5,7,8,10,12]
    dm30 = [4,6,9,11]
    if is_leap(year) == True:
        dm29 = [2]
    else:
        dm28 = [2]
    if month in dm31:
        date = 31
    elif month in dm30:
        date = 30
    elif month in dm29:
        date = 29
    else:
        date = 28
    return date

def another_date(day, month, year, delta=1):
    if delta < 0:
        day += delta
        if day <= 0:
            month -= 1
            if month == 0:
                month = 12
                year -= 1
                day = days(12, year) + day
            else:
                month = month
                year = year
                day = days(month, year) + day
        else:
            day = day
            month = month
            year = year
        return day, month, year
    elif delta > 0:
        day += delta
        if day > days(month, year):
            day = day - days(month, year)
            month += 1
            if month > 12:
                month -= 12
                year += 1
            else:
                month += 1
                year = year
        else:
            day = day
            month = month
            year = year
        return day, month, year
    else:
        return day, month, year

day, month, year = input('День, месяц, год через пробел: ').split()
day = int(day)
month = int(month)
year = int(year)
delta = int(input('Свдиг (может быть отрицательным): '))
print('Новый день: ', another_date(day, month, year, delta))

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): -2
# Новый день: 30/12/1999
#
# День, месяц, год через пробел: 1 1 2000
# Свдиг (может быть отрицательным): 2
# Новый день: 03/01/2000

День, месяц, год через пробел: 1 1 2000
Свдиг (может быть отрицательным): -2
Новый день:  (30, 12, 1999)

№ 5.2.6

Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [7]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_06.
#
# Выполнила: Кравцова
# Группа: адэу-211


#Вернуть НОД целых чисел 'first' и 'second'.
def gcd(first, second):
    while first != 0 and second != 0:
        if first > second:
            first = first % second
        else:  
            second = second % first
    return first + second          

#Вернуть НОК целых чисел 'first' и 'second'.
def lcm(first, second):
    if gcd(first, second) != 0:
        return (abs(first * second))/gcd(first, second)
    else:
        return 0

#Вернуть НОД чисел из списка 'nums'.
def gcd_nums(nums):
    result = nums[0]
    for i in range(1, len(nums)):
        result = gcd(result, nums[i])
    return result

#Вернуть НОК чисел из списка 'nums'.
def lcm_nums(nums):
    result = nums[0]
    for i in range(1, len(nums)):
        result = lcm(result, nums[i]) 
    return result

nums = [int(i) for i in input('Введите числа через пробел: ').split(sep=' ')]


nod = int(gcd_nums(nums))
nok = int(lcm_nums(nums))

print('НОД = ', nod)
print('НОК = ', nok)
# --------------
# Пример вывода:
#
# Введите числа через пробел: 8 10 14
# НОД = 2
# НОК = 280
#
# Введите числа через пробел: 6 8 24 16
# НОД = 2
# НОК = 48

Введите числа через пробел: 8 10 14
НОД =  2
НОК =  280

№ 5.2.8

Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки, например:

In [10]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_08.
#
# Выполнила: Кравцова 
# Группа: адэу-211



def print_with_border(string, char):
    len(string) + 2
    print(char * (len(string)+2))
    print(char + string + char)
    print(char * (len(string)+2))


s = input("Введите строку: ")
k = input("Введите символ: ")

print_with_border(s,k)
# --------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++

Введите строку: просто текст
Введите символ: +
++++++++++++++
+просто текст+
++++++++++++++

№ 5.2.14

Напишите функцию, которая принимает неограниченное количество числовых аргументов и возвращает кортеж из двух списков:

отрицательных значений (отсортирован по убыванию);

неотрицательных значений (отсортирован по возрастанию).

In [6]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_05_02_14.
#
# Выполнил: Кравцова
# Группа: !!!
# E-mail: !!!
minus=[]
plus=[]
numbers=list(map(int,input().split()))
def split_numbers(numbers):
   for n in numbers:
     if n<0:
       minus.append(n)
     else:
       plus.append(n)
   plus.sort()
   minus.sort()
   minus.reverse()
   print('(',minus ,',',plus,')')



print(split_numbers(numbers))

# --------------
# Пример вывода:
#
# ([-5, -33], [0, 1, 4])

1 4 -5 0 -33
( [-5, -33] , [0, 1, 4] )
None